/* Header  */








/* MAIN  */
/*   HERO  */

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  align-items: center;
  height: 600px;
  max-width: 1440px;
  padding: 188px 0;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  height: 120px;
  margin: auto;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  border: none;
  border-radius: 4px;
  margin: 48px auto 0;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*  ADVANTAGES  */



.section-advantages {
  padding: 120px 0;
}

.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
  /* width: calc((100%-3 * 24) / 4);*/
}

.advantages-item {
  display: block;
  width: 264px;
}



.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*  TEAM  */
.team {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.container-team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-list-person {
  padding: 32px 0;
}

.team-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-icons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
  width: 232px;
  height: 40px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
}

.icon {
  fill: #f4f4fd;
}

.icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus,
.icon-link:active {
  background-color: #404bbf;
  cursor: pointer;
}

/*  PORTFOLIO  */

.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-job-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
  column-gap: 24px;
}

.portfolio-list {
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-app {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  position: relative;
  overflow: hidden;
}


.portfolio-list:hover .overlay-p {
  transform: translateY(0%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* Модальне вікно */

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*opacity: 0;
  pointer-events: none;*/
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 72px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
}

.close-modal-btn {
  align-self: flex-end;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

input:focus {
  border-color: #4d5ae5;
}

textarea:focus {
  border-color: #4d5ae5;
}

input:focus+svg {
  fill: #4d5ae5;
}


.modal-field-comment {
  margin-bottom: 16px;
}

.comment {
  display: block;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  height: 120px;
  outline: transparent;
  width: 360px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.comment:focus {
  border-color: #4D5AE5;
}

.modal-field-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-label-check {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}


.checkbox:checked+.modal-form-label-check .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.checkbox-link {
  color: #4d5ae5;
}

.overlay-btn {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
}

.overlay-btn:hover,
.overlay-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;

}

.input-box {
  position: relative;

}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




/*   FOOTER   */

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-info {
  display: flex;
  align-items: baseline;
}

.box-logo-p {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  height: 24px;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-txt {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-icons.icons-footer {
  display: flex;
  margin: 0;
  align-items: flex-start;
  gap: 16px;
  justify-content: flex-start;
  margin-top: 16px;
}

.icon-link.down:hover,
.icon-link.down:focus,
.icon-link.down:active {
  background-color: #31d0aa;
}

.media-icons-footer {
  width: 208px;
}

.footer-subscribe {
  display: block;
  width: 453px;
  height: 80px;
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  fill: #fff;
}

.footer-subscribe-icon {
  margin-left: 16px;
}